WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_CLAIM_TOKEN=
WORKOS_COOKIE_PASSWORD=
WORKOS_REDIRECT_URI=http://127.0.0.1:58234/callback
WORKOS_SIGN_OUT_REDIRECT_URI=http://127.0.0.1:58234/login
VITE_WORKOS_CLIENT_ID=
VITE_WORKOS_REDIRECT_URI=http://127.0.0.1:58234
VITE_SIGNATIS_AUTH_MODE=demo
CSRF_SECRET=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
