WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_REDIRECT_URI=http://127.0.0.1:58234/callback
WORKOS_SIGN_OUT_REDIRECT_URI=http://127.0.0.1:58234/login
WORKOS_COOKIE_PASSWORD=
CSRF_SECRET=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
